@model codeweb.Models.OrderPro

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Edit", "Order", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Edit Order</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.TotalDiscount)
    @Html.HiddenFor(model => model.TotalTax)
    @Html.HiddenFor(model => model.IDCus)

    <div class="form-group">
        @Html.LabelFor(model => model.NameCus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NameCus, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NameCus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AddressDelivery, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AddressDelivery, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AddressDelivery, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
            @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TotalMoney, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TotalMoney, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
            @Html.ValidationMessageFor(model => model.TotalMoney, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="orderStatus">Order Status</label>
        <select id="orderStatus" name="Status">
            <option value="waitingForConfirmation" @(Model.Status == "Waiting For Confirmation" ? "selected" : "")>Waiting for confirmation</option>
            <option value="onDelivery" @(Model.Status == "On Delivery" ? "selected" : "")>On delivery</option>
            <option value="completed" @(Model.Status == "Completed" ? "selected" : "")>Completed</option>
        </select>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 mt-2">
            <input style="margin-right:4px" type="submit" value="Save" class="btn btn-success" />
            <a href="@Url.Action("OrdersManagement","AdminPanel")" style="background: #ffd800; color: #ff0000; font-size: 16px; border: none; padding: 10px; padding-bottom: 10px; border-radius: 7px; max-height: 41px;"> Return </a>
        </div>
    </div>
</div>
}

