@model codeweb.Models.Customer


@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/css/Login.css")" rel="stylesheet" type="text/css" />
    <style>
        body {
            background-color:#bcc588 !important;
        }

        .Header {
            position: relative;
            z-index: 999;
        }
    </style>
}
<div style=" z-index: 1; top: 0; position: absolute; height: 100%; margin-left: auto; margin-right: auto; left: 0; right: 0; display: flex; justify-content: center; align-items: center;">
    <form class="popup" method="post" action="@Url.Action("Index", "Login")">
        <div class="wrapper">
            <h1>Login</h1>
            @if (ViewBag.ErrorInfo != null)
            {
                <div class="error-info">@ViewBag.ErrorInfo</div>
            }
            @Html.AntiForgeryToken()
            <div class="input-field">
                <input class="input-box" type="text" placeholder="Username" name="NameCus" id="NameCus" required>
                <input class="input-box" type="password" placeholder="Password" name="PasswordCus" id="PasswordCus" required>
            </div>
            <div>
                <input type="checkbox" checked="checked" name="remember" /> Remember me
            </div>
            <input class="login-btn" type="submit" value="Login">
            <div class="d-flex justify-content-between w-100 flex-row">
                <a href="@Url.Action("RegisterUser", "Login")">Register</a>
                <a href="@Url.Action("ForgotPassword", "Login")">Forgot your password?</a>
            </div>
        </div>
    </form>
</div>