@model codeweb.Models.Cloth

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cloth</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameClothes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameClothes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalSoldPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalSoldPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClothesImage)
        </dt>

        <dd>
            <img src="@Url.Content(Model.ClothesImage)"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand.NameBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.NameBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.NameCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.NameCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDClothes }) |
    @Html.ActionLink("Back to List", "Index")
</p>
